*{
	box-sizing: border-box;
}
body{
	margin:0;
	height: 100vh;
	background-image: url(6.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.navbar{
	overflow: hidden;
  	background-color: #07252d;
  	font-family: Arial, Helvetica, sans-serif;
}


.navbar a {
  float: left;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  margin-left: 3px;

}
.navbar a:hover{
	background:#07252d;
	color: #00ffff;
}
.navbar a.active{
	background-color:#07252d;
	color: #00ffff;
}

.dropdown {
  float: left;
  overflow: hidden;

}

.dropdown .dropbtn {
  font-size: 14px;  
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  padding: 16px 18px;
  background-color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #07252d;
  color: #00ffff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: #00ffff;
  padding: 16px;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #07252d;
  height: 250px;
  color: white;
}


.column a {
  float: none;
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #00ffff;
  color: black;
}
.column h3{
	color: #00ffff
}
.row:after {
  content: "";
  display: table;
  clear: both;
}


.btn{
	border:1px solid white;
	color: #00ffff;
	background: transparent;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: 2px;
	padding: 8px 10px;
	margin-top:6px;
	margin-right:3px;

}

.btn-right{
	float: right;
	padding-right: 24px;
}
